/* Estilos Globais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

h2 {
  text-align: center;
  color: #343a40;
}

/* Header */
header {
  background-color: #343a40;
  padding: 15px;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

/* Seção Sobre */
.about-section {
  text-align: center;
  padding: 50px;
}

.about-section img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.about-section p {
  max-width: 600px;
  margin: 0 auto;
  color: #333;
}

  /* Seção Portfólio */
#portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
  }

  .project {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }

  .project:hover{
    transform: scale(1.05);
  }
  
  .project img {
    max-width: 100%;
    border-radius: 10px;
  }

/* Seção Habilidades */
.skills-section {
  padding: 50px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

.skill {
  text-align: center;
}

.progress-bar {
  background-color: white;
  border-radius: 10px;
  height: 20px;
  width: 60%;
  overflow: hidden;
}

.progress {
  background-color: green;
  height: 100%;
}

/* Seção Contato */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
}

.error-message {
  display: none;
  color: red;
  font-size: 0.85rem;
  margin-top: 10px;
}

/* Map */
.map-container {
  margin-top: 20px;
  text-align: center;
}

/* Footer */
.footer {
  text-align: center;
  padding: 10px;
  background-color: #343a40;
  color: lightgray;
}

.logo {
  width: 30px; /* Define a largura da logo */
  height: 30px; /* Define a altura da logo */
  border-radius: 50%; /* Deixa a imagem redonda, parecendo uma logo */
  border: 1px solid #333; /* Adiciona uma borda em volta da logo */
}
